.input-main__label{
    font-weight: 500;
    font-size: 12px;
}
.input_min{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100% ;
    background: #F5F6F7;
    border-radius: 8px;
    border:1px #0000004D solid;
    font-size: 15px;
    padding-left: 10px;
}